<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>
    <main>
        <div id="wrapper">
            <div id="middle" class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>